<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamp.web.dao.SearchPageDAO">
	<select id="LoadAll" resultType="SearchPageDTO">
		SELECT *
		FROM SearchPageView
	</select>
	
	<select id="LoadByKwd" parameterType="String" resultType="SearchPageDTO">
		SELECT *
		FROM SearchPageView
		WHERE vehicle_no LIKE #{kwd}		
	</select>
	
	<select id="LoadByfilter" parameterType="HashMap" resultType="SearchPageDTO">
		SELECT *
		FROM SearchPageView
		<if test='type != null'>
		WHERE vehicle_type = #{type}
		</if>
		<if test='fuel != null'>
		AND fuel_type = #{fuel}
		</if>
		<if test='mission != null'>
		AND transmission_type = #{mission}
		</if>
		<if test='wheeldrt != null'>
		AND wheel_type = #{wheeldrt}
		</if>		
		<if test='psngcap != null'>
		AND passenger_capacity = #{psngcap }
		</if>
	</select>
</mapper>