<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamp.web.dao.SearchPageDAO">
	<select id="LoadAll" resultType="SearchPageDTO">
		SELECT *
		FROM SearchPageView
	</select>
	
	<select id="LoadByKwd" parameterType="String" resultType="SearchPageDTO">
		SELECT *
		FROM SearchPageView
		WHERE vehicle_no LIKE #{kwd}		
	</select>
	
	<select id="LoadByfilter" parameterType="String" resultType="SearchPageDTO">
		SELECT *
		FROM SearchPageView
		WHERE model_name LIKE #{filter}		
	</select>
</mapper>